name: Terraform Deployment

on: 
  push:
    branches: 
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env: 
  AWS_REGION: "ap-south-1"

jobs:
  list-ec2:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Configure AWS OIDC
      uses: aws-actions/configure-aws-credentials@main
      with: 
        aws-region: ap-south-1
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
        
    - name: List EC2 Instance
      run: | 
        aws ec2 describe-instances 